
<div class="modal fade" id="activityModal-<%= activity.id %>" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%# stimulus %>
      <div data-controller="edit-activities">

        <div class="modal-header">
          <%# Title %>
          <h5 class="modal-title" id="activityModalLabel-<%= activity.id %>">
            <%= activity.title.capitalize %>
          </h5>

          <%# Edit button %>
          <%# <button class="btn btn-primary" data-action="click->edit-activities#editActivityTitle">Edit</button> %>

          <%# Close button %>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          <%# Title Edit
          <div class="d-none" data-edit-activities-target="formEditActivityTitle">
            <%= simple_form_for activity_event, url: update_activity_path(@event, activity_event), method: :patch do |f| %>
              <%# <div class="mb-4">
                <%= f.input :custom_title, label: "Activity Name", input_html: { class: "form-control", value: activity_event.display_title.capitalize } %>
              <%# </div>
              <div class="">
                <%= f.button :submit, "Update Activity", class: "btn btn-primary" %>
              <%# </div>
            <% end %>
          <%# </div> %>

          <%# Description Summary %>
          <h5>Description:</h5>
          <div class="modal-cards">
            <p><%= activity.description %></p>

            <%# Description Step-by-Step Instructions %>
            <h5>Step-by-Step Instructions:</h5>
            <ul class="list-unstyled">
              <% JSON.parse(activity.instructions).each_with_index do |step, index| %>
                <li><%= index + 1 %>. <%= step %></li>
              <% end %>
            </ul>

            <%# Description Edit %>
            <%# <%steps_for_inputform = steps.map.with_index(1) { |step, i| "#{i}. #{step.first}" }.join("\n") %>
            <%# <button class="btn btn-primary" data-action="click->edit-activities#editActivityDescription">Edit</button> %>
            <%# <div class="d-none" data-edit-activities-target="formEditActivityDescription"> %>
              <%# <%= simple_form_for activity_event, url: update_activity_path(@event, activity_event), method: :patch do |f| %>
                <%# <div class="mb-4"> %>
                  <%# <%= f.input :custom_description, as: :text, label: "Activity Description",
                              input_html: { class: "form-control", rows: 8,
                              value: "**Description**:\n#{description_summary}\n\n**Step-by-Step Instructions**:\n#{steps_for_inputform}"} %>
                <%# </div> %>
                <%# <div class=""> %>
                  <%# <%= f.button :submit, "Update Activity", class: "btn btn-primary" %>
                <%# </div> %>
              <%# <% end %>
            <%# </div> %>
          </div>

          <%# Materials %>
          <h5>Materials:</h5>
          <div class="modal-cards">
            <ul>
              <% JSON.parse(activity.materials).each do |material| %>
                <li><%= material %></li>
              <% end %>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="modal-footer">
    </div>
  </div>
</div>
