<div class="card shadow-sm border-0 mb-0 activity-card background-white" data-preview-event-target="activity" data-activity-title="<%= activity["title"] %>">
  <div class="card-body pt-0" data-controller="preview-event">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="card-title mb-2" data-target="preview-event">
        <%= activity["title"] %>
      </h4>
      <button
        data-action="click->preview-event#regenerate"
        data-activity-title="<%= activity["title"] %>"
        class="btn btn-link p-0 regenerate-btn"
        data-age-range="<%= activity["age"] %>"
        data-event="<%= @event.title %>"
        data-activity="<%= activity["title"] %>">
        <i class="fa-solid fa-arrows-rotate" data-preview-event-target="rotate"></i>
      </button>
    </div>
    <p class="mb-1"><i class="fas fa-info-circle"></i> <%= activity["description"] %></p>
    <a class="d-flex justify-content-center text-decoration-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#details-<%= index %>">
      <i class="fa-solid fa-circle-chevron-down mt-2" style="color: #000000"></i>
    </a>
    <!-- Collapsible details -->
    <div class="collapse mt-3" id="details-<%= index %>">
      <p><strong>Step-by-Step Instructions:</strong></p>
        <% activity["instructions"].each_with_index do |i, i_index| %>
          <p><%= i_index + 1 %>. <%= i %></p>
        <% end %>
      <p><strong>Materials:</strong> <%= activity["materials"].join(", ") %></p>
    </div>

    <!-- Hidden fields to preserve activity details -->
    <input type="hidden" name="activities[][title]" value="<%= activity["title"] %>">
    <input type="hidden" name="activities[][description]" value="<%= activity["description"] %>">
    <input type="hidden" name="activities[][materials]" value="<%= activity["materials"].to_json %>">
    <input type="hidden" name="activities[][instructions]" value="<%= activity["instructions"].to_json %>">
    <input type="hidden" name="activities[][age]" value="<%= activity["age"] %>">
  </div>
</div>
