<div class="container">

  <div class="head">
    <div class="title d-flex justify-content-between mt-4">
      <div class="event-details">
      <h1><%=@event&.title%></h1>
        <div class="event-icon">
          <div class="d-flex justify-content-center" style="width: 30px;">
            <i class="fa-solid fa-people-roof m-0"></i>
          </div>
          <p><%= @event&.organization&.name %></p>
        </div>
        <div class="event-icon">
          <div class="d-flex justify-content-center" style="width: 30px;">
            <i class="fa-solid fa-calendar-days m-0"></i>
          </div>
          <p><%= @event&.date.strftime("%A, %B") %> <%= ordinal_day(@event&.date.day) %></p>
        </div>
        <div class="event-icon">
          <div class="d-flex justify-content-center" style="width: 30px;">
            <i class="fa-regular fa-clock m-0"></i>
          </div>
          <p><%= @event&.duration %> minutes</p>
        </div>
      </div>

      <div class="d-flex head-right-side">
        <%# Manager %>
        <div class="col-4 text-center">
          <p><strong>Manager:</strong></p>
            <div class="d-flex flex-column text-center justify-content-center">
              <div>
                <% user = @event.user %>
                <%= image_tag (user&.photo.attached? ? user.photo : "https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"), class: "avatar", alt: "collab-user" %>
              </div>
              <div class="text-center">
                <p><small><%= "#{user&.first_name}"%></small></p>
              </div>
            </div>
        </div>

        <%= render "show_collaborators" %>

        <%# edit %>
        <div class="col-2">
          <%= link_to edit_event_path(@event) do %>
            <i class="fa-solid fa-pen-to-square edit-icon"></i>
          <% end %>
        </div>

      </div>

    </div>
  </div>

  <%# Activities %>
  <div class="activity-container row my-3">
    <div class="d-flex align-items-center gap-3 mb-3">
      <h2 class="activities-title">Activities</h2>
      <!-- Plus Icon with Hover Text -->
      <div class="plus-icon-container m-0"
          data-controller="generate-activity-on-show-page"
          data-age="<%= @event.activities.first.age %>"
          data-event-title="<%= @event.title %>"
          data-event-id="<%= @event.id %>"
          data-action="click->generate-activity-on-show-page#generateActivity"
          data-generate-activity-on-show-page-target="trigger">
      <i class="fa-solid fa-plus plus-icon"></i>
      <span class="hover-custom">New activity and tasks with AI</span>
      </div>
      <%# <%= link_to "New activity and tasks with AI", "/activities/new_activity_with_ai/#{@event.id}?event_title=#{@event.title}&age=#{@event.activities.first.age}", class: "btn btn-primary" %>
    </div>

    <% if @event.activities.any?  %>
      <% @event.activities.each do |activity| %>
        <div class="col-3">

          <div class="card-pink">
            <div class="card-overview">
                <%# Delete Activity %>
                <div class="delete-container">
                  <%= link_to delete_activity_path(event_id: @event, id: activity),class: "no-underline", data: { turbo_method: :delete } do %>
                    <i class="fa-solid fa-circle-xmark delete-icon"></i>
                  <% end %>
                </div>
              <p class="text-center mb-0 d-flex justify-content-center"><strong class="activity-title-text"><%= activity.title.capitalize %></strong></p>

              <div class="icon-container d-flex justify-content-evenly px-2">
                <%# Details button %>
                <div class="col-6 text-center">
                  <button type="button" class="btn btn-see-details p-2" data-bs-toggle="modal" data-bs-target="#activityModal-<%= activity.id %>">
                    See details
                  </button>
                </div>
                <%= render "activity_details", event: @event, activity: activity %>

              </div>

            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>

  <%# Tasks %>
  <div class="task-container row my-3" data-controller="remove-update-dropdown">
    <h2 class="activities-title mb-3" style="margin-left: 10px;">Tasks</h2>
    <% if @tasks.any? %>
      <% @tasks.where.not(title: nil).order(created_at: :desc).each do |task| %>
        <div class="col-3 d-flex">
          <div class="card-mint d-flex flex-column justify-content-between align-items-center pb-4 flex-grow-1" data-controller="assign-tasks">
            <%# Delete Task %>
            <div class="delete-container">
              <%= link_to event_task_path(task.event, task), data: { turbo_method: :delete, turbo_confirm: "Delete this task?" }, class: "text-decoration-none" do %>
                <i class="fa-solid fa-circle-xmark delete-icon"></i>
              <% end %>
            </div>
            <div class="d-flex flex-column align-items-center mt-2 task-activity-title-container">
              <p class="task-activity-title text-center mb-1 text-secondary"><%=task.activity.title.capitalize%></p>
              <p class="text-center mb-1"><%=task.title.capitalize%></p>
            </div>

            <div class="icon-container d-flex justify-content-between align-items-center px-2 w-75">
              <%# Avatar %>
              <div class="d-flex flex-column text-center justify-content-center">
                <div class="position-relative" data-controller="update-tasks-users">
                  <% user_id = task.tasks_users.first&.user_id %>
                  <% user = @users.find_by(id: user_id) %>
                  <%= image_tag (user&.photo&.attached? ? user.photo : "https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png"), class: "avatar assigned-user-image position-relative", alt: "collab-user", data: { action: "click->update-tasks-users#showDropdown", "update-tasks-users-target" => "image" } %>
                  <%= render "tasks_users_dropdown", task: task %>
                  <div class="position-absolute assigned-user-text">
                    <% user_id = task.tasks_users.first&.user_id %>
                    <% user = @users.find_by(id: user_id) %>
                    <p class="mb-0"><small data-update-tasks-users-target="name"><%= user_id ? user&.first_name : "&nbsp;".html_safe %></small></p>
                  </div>
                </div>
              </div>

              <%# Complete/ Incomplete %>
              <div data-controller="assign-tasks", data-assign-tasks-task-id-value= "<%= task.id %>" class="d-flex align-items-center">
                <button data-action="click->assign-tasks#toggleComplete" class="btn d-flex align-items-center completion-button-container" >
                  <% if task.completed %>
                    <i class="fa-solid fa-circle-check icon-complete" data-assign-tasks-target = "completeIcon"></i>
                  <% else %>
                    <i class="fa-solid fa-circle-check icon-not-complete" data-assign-tasks-target = "completeIcon"></i>
                  <% end %>
                </button>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No tasks</p>
    <% end %>
  </div>
      <%# Create a new task%>
  <div class="my-3">
    <button type="button" class="btn btn-gradient-oval p-2 floating-btn" data-bs-toggle="modal" data-bs-target="#taskModal"><i class="fa-solid fa-plus"></i> Add Task</button>
    <%# <button type="button" class="btn btn-gradient-oval p-2" data-bs-toggle="modal" data-bs-target="#aiSuggestModal" >AI suggestions</button> %>
  </div>
  <div>
    <%= render "create_tasks", event: @event, task: @task %>
    <%# <%= render "suggest_tasks", event: @event, task: @task %>
  </div>
</div>
