<div class="d-flex justify-content-center mt-3">
  <%= link_to "New Organization", new_organization_path, class: "btn btn-primary" %>
</div>
<div class="mw-100 d-flex justify-content-center">
  <div class="organization-container w-100 row mt-3 px-3 gx-3 justify-content-center">
    <% @organizations.each do |organization| %>
      <%= link_to organization_path(organization), class: "d-flex col-3 text-decoration-none" do %>
        <div class="card w-100">
          <h4 class="text-center"><%= organization.name %></h4>
          <p class="d-flex justify-content-center">
            <strong>Members (<%= organization.organization_users.count %>):&nbsp;</strong>
            <span class="text-secondary"> <%= organization.organization_users.joins(:user).pluck(:first_name).join(", ") %></span>
          </p>
        </div>

      <% end %>

    <% end %>
  </div>
</div>
